<?xml version="1.0" encoding="utf-8"?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config Log4j-config.xsd"
               status="off" strict="true" name="log4j2Config">

    <Appenders>

        <!-- Console Appender -->
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %l - %m%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="trace">
            <AppenderRef ref="consoleAppender"/>
        </Root>

    </Loggers>

</Configuration>